
body {
    --header-height: 80px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: black;
    background-image: url('../assets/gengar-giphy.gif');
    background-repeat: no-repeat;  
    background-position: 45% 49%;
    background-size: 80% 118%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    height: 800px;

}

#pokemon {
    display: block;
    margin-bottom: 700px;
    border: 1px solid black;
    height: 100px;
    background: rgb(136, 71, 71, 0.6);
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
    color: crimson;
    font-family: 'pokemon_solidnormal';
    text-shadow: black 1;
}

h3 {
    margin-top: 5rem;
    color: crimson;
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.pokebox{
    margin-top: 3rem;
}

.pokemon-img {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 50px;
    margin-top: -1px;
    transition: .2s ease-in-out
}

.pokemon-img:hover {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 0px 0px 0px 10px #FF0000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 0px 0px 0px 10px #FF0000, 5px 5px 15px 5px rgba(0,0,0,0);
}

@font-face {
    font-family: 'pokemon_solidnormal';
    src: url('../assets/pokemon_solid-webfont.woff2') format('woff2'),
         url('../assets/pokemon_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



